.burger {
  position: relative;
  display: none;
  width: 23px;
  height: 16px;
  cursor: pointer;
  @include r(1200) {
    display: flex;
  }

  &.active {
    .burger__item {
      opacity: 0;
    }
    &::before,
    &::after {
      top: 50%;
    }

    &::before {
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &__item {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 11px;
    height: 2px;
    background-color: $black;
    border-radius: 50px;
    transition: .2s linear;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    content: '';
    display: flex;
    width: 23px;
    height: 2px;
    background-color: $black;
    border-radius: 50px;
    transition: .2s linear;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: 10px;
  }
}