.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 14px 30px;
  align-items: start;

  @include r(1200) {
    grid-template-columns: 1fr;
  }

  &--more {
    grid-template-columns: 1fr 1fr 1fr;

    @include r(1200) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  &__item--full {
    grid-row: span 2;
  }

  &--equalize {
    gap: 30px;
  }
}
