.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 375px;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: $primary;
    background-color: $light;
    overflow-x: hidden;

    @include r(1200) {
        margin: 0;
        overflow-x: hidden;
    }
}
