// Colors
$black: #2E3A59;
$light: #FFFFFF;
$primary: #0E3449;
$primary-light: #007C8E;
$green: #007A8F;
$green-light: #18D379;
$gray-black: #6E7677;
$gray-dark: #B8BFC0;
$gray: #F2F4F6;
$gray-light: #F9FAFB;
$transparent: #BDBDBD;
$line: #DBE2EA;
$blue: #C3E0F0;
$blue-dark: #8DA7B6;
$blue-light: #E0ECF9;
$blue-black: #D1E2F4;
$dark: #000000;
$red: #FFE5E5;
$green-transparent: rgba(0, 122, 143, 0.10);

// Fonts
$font-main: 'Jost', sans-serif;
