<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--top">
        <div class="container">
            <div class="main-search">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--gray">
        <div class="container">
            <div class="intro">
                <div class="intro__info">
                    <h1 class="main-title">Каталог</h1>
                    <p class="intro__text intro__text--fixed-size">
                        В консультативно-диагностическом медицинском центре предусмотрено все необходимое для проведения
                        современных высокоточных медицинских диагностических исследований.
                    </p>
                </div>
                <picture class="intro__picture">
                    <img src="./assets/images/intro-heart.png" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section pt-100 pb-100">
        <div class="container">
            <h2 class="title mb-40">Каталог</h2>
            <div class="catalog">
                <div class="catalog__content">
                    <div class="accordion accordion--slim" data-accordion>
                        <div class="accordion__top">
                            Срочные анализы
                            <svg class="accordion__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim"></use>
                            </svg>
                        </div>
                        <div class="accordion__content">
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Спермограмма</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Adenovirus F40/F41 (кишечные типы
                                        вируса)</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">CD4+ Т‑лимфоциты, % и абсолютное
                                        количество</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                        </div>
                    </div>
                    <div class="accordion accordion--slim" data-accordion>
                        <div class="accordion__top">
                            Щитовидная железа
                            <svg class="accordion__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim"></use>
                            </svg>
                        </div>
                        <div class="accordion__content">
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Спермограмма</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Adenovirus F40/F41 (кишечные типы
                                        вируса)</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">CD4+ Т‑лимфоциты, % и абсолютное
                                        количество</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                        </div>
                    </div>
                    <div class="accordion accordion--slim" data-accordion>
                        <div class="accordion__top">
                            Популярные анализы
                            <svg class="accordion__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim"></use>
                            </svg>
                        </div>
                        <div class="accordion__content">
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Спермограмма</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Adenovirus F40/F41 (кишечные типы
                                        вируса)</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">CD4+ Т‑лимфоциты, % и абсолютное
                                        количество</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                        </div>
                    </div>
                    <div class="accordion accordion--slim" data-accordion>
                        <div class="accordion__top">
                            Репродуктивная функция
                            <svg class="accordion__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-slim"></use>
                            </svg>
                        </div>
                        <div class="accordion__content">
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Спермограмма</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">Adenovirus F40/F41 (кишечные типы
                                        вируса)</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                            <article class="article-procedure">
                                <div class="article-procedure__info">
                                    <a href="#" class="article-procedure__title">CD4+ Т‑лимфоциты, % и абсолютное
                                        количество</a>
                                    <p class="article-procedure__code">Код: 52-20-010</p>
                                </div>
                                <div class="price">
                                    <p class="price__current">2 200 ₽</p>
                                </div>
                                <button class="button button--bold button--transparent">Заказать</button>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="filter">
                    <div class="search">
                        <svg class="search__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                        </svg>
                        <input type="text" class="input" placeholder="Поиск">
                        <button class="button-arrow button-arrow--big">
                            <svg class="button-arrow__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <form action="#" class="filter-form">
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Все анализы
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Срочные анализы
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Популярные анализы
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Щитовидная железа
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Репродуктивная функция
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Витамины
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Клещи и клещевые инфекции
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Другие фильтры
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Другие фильтры
                        </label>
                        <label class="filter-form__item">
                            <input type="checkbox" class="check">
                            Другие фильтры
                        </label>
                        <button class="filter-form__reset" type="reset">
                            <svg class="filter-form__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-reset"></use>
                            </svg>
                            <span>Сбросить</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--visible pb-80">
        <div class="container">
            <h2 class="title mb-40">Популярные анализы</h2>
            <div class="slider">
                <div class="slider__wrapper" data-slider="default">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="0">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="0"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="1">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="1"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="2">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="2"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="3">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="3"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="4">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="4"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="5">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="5"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="6">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="6"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-detail" data-show-block="7">
                                <div class="article-detail__top">
                                    <div class="article-detail__content">
                                        <div class="article-detail__info">
                                            <h3 class="article-detail__title">Популярные комплексы</h3>
                                            <p class="article-detail__text">Информация о анализе в несколько строк</p>
                                        </div>
                                        <div class="article-detail__toolbox">
                                            <button class="button button--bold">Заказать</button>
                                            <button class="button-control" data-show-open="7"></button>
                                        </div>
                                    </div>
                                    <picture class="article-detail__picture">
                                        <img src="./assets/images/no-photo.svg" alt="">
                                    </picture>
                                </div>
                                <div class="article-detail__dropdown">
                                    <ul class="article-detail__list">
                                        <li class="article-detail__item">Общий анализ крови;</li>
                                        <li class="article-detail__item">УЗИ;</li>
                                        <li class="article-detail__item">Рентгенография;</li>
                                        <li class="article-detail__item">Щелочная фосфатаза.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__button slider__button--prev">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-pointer"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--next">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-pointer"></use>
                        </svg>
                    </div>
                    <div class="slider__pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <div class="feedback">
                <div class="feedback__header">
                    <h3 class="feedback__title">Запишитесь на консультацию</h3>
                    <p class="feedback__text">
                        Укажите свой номер телефона. Мы свяжемся с вами в ближайшее время.
                    </p>
                </div>
                <form action="#" class="form" data-form>
                    <label class="form__item">
                        <span class="form__input">
                            <svg class="form__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-phone"></use>
                            </svg>
                            <input type="text" class="input" placeholder="+7 ( ___ ) ___-__-__">
                        </span>
                        <button class="form__button button" type="submit">Отправить</button>
                    </label>
                    <label class="form__item form__item--accept" data-accept-form>
                        <input type="checkbox" class="check" data-accept>
                        <span>Нажимая кнопку отправить вы соглашаетесь с Политикой обработки персональных данных</span>
                    </label>
                </form>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
