<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--top">
        <div class="container">
            <div class="main-search">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--gray">
        <div class="container">
            <div class="intro">
                <div class="intro__info intro__info--detail">
                    <h1 class="main-title">Adenovirus F40/F41 (кишечные типы вируса)</h1>
                    <p class="intro__text">Номенклатура МЗРФ (Приказ №804н): A12.06.020.000.03
                        Определение содержания антител классов IgG и IgA к GP2 антигену центроацинарных клеток
                        поджелудочной железы.</p>
                </div>
                <div class="details">
                    <p class="details__item">Код: 52-20-010</p>
                    <p class="details__item">Срок: 15 календарных дней</p>
                    <p class="details__item">Этот анализ можно сдать на дому</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-30 pb-100">
        <div class="container">
            <div class="analyses">
                <div class="tabs">
                    <div class="tabs__head">
                        <p class="tabs__element active" data-tabs-head="0">Об исследовании</p>
                        <p class="tabs__element" data-tabs-head="1">Как подготовиться</p>
                        <p class="tabs__element" data-tabs-head="2">Расшифровка</p>
                    </div>
                    <div class="tabs__body">
                        <div class="tabs__content active" data-tabs-content="0">
                            <div class="editor mb-30">
                                <p>
                                    Специальной подготовки к исследованию не требуется. Взятие крови проводится натощак
                                    или
                                    не ранее, чем через 4 часа после необильного приема пищи. Допустимо пить чистую не
                                    минеральную и не газированную воду. Чай, кофе, сок запрещаются.
                                </p>
                                <br>
                                <h3>
                                    Описание анализа
                                </h3>
                                <br>
                                <p>
                                    Гликопротеин 2-го типа (GP2) ‒ белок мембраны гранул, которые выделяются ацинарными
                                    клетками поджелудочной железы вместе с пищеварительными ферментами в просвет
                                    кишечника.
                                    GP2 является нормальным компонентом панкреатического (поджелудочного) сока.Антитела
                                    к
                                    GP2 антигену классов IgG и IgA обнаруживаются у 30-40% пациентов с болезнью Крона
                                    (БК),
                                    чаще у более молодых больных. При неспецифическом язвенном колите такие антитела
                                    такие
                                    антитела обнаруживаются редко (менее 8% случаев), что позволяет использовать данное
                                    исследование в рамках дифференциальной диагностики воспалительных заболеваний
                                    кишечника.Обнаружение антител к GP2 указывает на высокую вероятность воспалительного
                                    заболевания кишечника и требует углубленного клинического и инструментального
                                    обследования. Выявление анти-GP2 в сочетании с другими (клиническими,
                                    эндоскопическими,
                                    гистологическими, серологическими) признаками позволяет поставить диагноз болезни
                                    Крона.
                                    Отсутствие антител к GP2 антигену центроацинарных клеток поджелудочной железы не
                                    исключает диагноз болезнь Крона.При проведении дифференциальной диагностики болезни
                                    Крона и язвенного колита результаты исследования необходимо интерпретировать в
                                    сочетании
                                    с результатами инструментальных и других серологических методов диагностики, включая
                                    сывороточные и фекальные биомаркеры.
                                </p>
                            </div>
                            <div class="annotation annotation--picture annotation--red mb-40">
                                <p class="text text--medium">
                                    Этот анализ принимается по сокращённому графику. Это связано с тем, что биоматериал
                                    должен попасть в лабораторию в очень короткий срок. Проверьте расписание
                                    сокращённого графика приёма на странице вашего отделения.
                                </p>
                                <picture class="annotation__picture">
                                    <img src="./assets/images/icon-no-photo.svg" alt="">
                                </picture>
                            </div>
                            <div class="editor mb-70">
                                <h4>
                                    Синонимы и связанные понятия
                                </h4>
                                <br>
                                <p>
                                    Serum zinc, Serum zinc test, Vitamin D, Vitamin D3 metabolite, Zinc blood testing,
                                    анализ крови на витамин D, анализ крови на цинк, витамин D, цинк в сыворотке крови
                                </p>
                            </div>
                            <h2 class="title title--small mb-40">Состав комплекса</h2>
                            <div class="dropdown-list mb-60">
                                <div class="dropdown-block" data-accordion>
                                    <div class="dropdown-block__head">
                                        <div class="dropdown-block__icon"></div>
                                        <h3 class="dropdown-block__title">Витамин D суммарный (25-OH D2 и D3, общий
                                            результат)</h3>
                                    </div>
                                    <div class="dropdown-block__body">
                                        <div class="annotation annotation--green">
                                            <p class="text text--medium">
                                                Исследование показывает общий уровень витамина D и позволяет выявить его
                                                дефицит или переизбыток, нарушения кальциевого обмена.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-block" data-accordion>
                                    <div class="dropdown-block__head">
                                        <div class="dropdown-block__icon"></div>
                                        <h3 class="dropdown-block__title">Цинк</h3>
                                    </div>
                                    <div class="dropdown-block__body">
                                        <div class="annotation annotation--green">
                                            <p class="text text--medium">
                                                Исследование показывает общий уровень витамина D и позволяет выявить его
                                                дефицит или переизбыток, нарушения кальциевого обмена.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="editor">
                                <h3>
                                    Приём и метод исследования биоматериала
                                </h3>
                                <br>
                                <h4>
                                    Биоматериал
                                </h4>
                                <br>
                                <p>
                                    Вен. кровь
                                </p>
                                <br>
                                <br>
                                <h3>Когда назначают этот анализ?</h3>
                                <br>
                                <ul>
                                    <li>оценка баланса и метаболизма витамина D и цинка;</li>
                                    <li>подозрение на дефицит/недостаточность витамина D и недостаточность цинка;</li>
                                    <li>контроль лечения препаратами витамина D и цинка;</li>
                                    <li>диагностика интоксикации витамином D и цинком.</li>
                                </ul>
                                <br>
                                <br>
                                <h3>Срок исполнения</h3>
                                <br>
                                <p>1 день</p>
                            </div>
                        </div>
                        <div class="tabs__content" data-tabs-content="1">
                            <div class="editor mb-30">
                                <p>
                                    Специальной подготовки к исследованию не требуется. Взятие крови проводится натощак
                                    или
                                    не ранее, чем через 4 часа после необильного приема пищи. Допустимо пить чистую не
                                    минеральную и не газированную воду. Чай, кофе, сок запрещаются.
                                </p>
                                <br>
                                <h3>
                                    Описание анализа
                                </h3>
                                <br>
                                <p>
                                    Гликопротеин 2-го типа (GP2) ‒ белок мембраны гранул, которые выделяются ацинарными
                                    клетками поджелудочной железы вместе с пищеварительными ферментами в просвет
                                    кишечника.
                                    GP2 является нормальным компонентом панкреатического (поджелудочного) сока.Антитела
                                    к
                                    GP2 антигену классов IgG и IgA обнаруживаются у 30-40% пациентов с болезнью Крона
                                    (БК),
                                    чаще у более молодых больных. При неспецифическом язвенном колите такие антитела
                                    такие
                                    антитела обнаруживаются редко (менее 8% случаев), что позволяет использовать данное
                                    исследование в рамках дифференциальной диагностики воспалительных заболеваний
                                    кишечника.Обнаружение антител к GP2 указывает на высокую вероятность воспалительного
                                    заболевания кишечника и требует углубленного клинического и инструментального
                                    обследования. Выявление анти-GP2 в сочетании с другими (клиническими,
                                    эндоскопическими,
                                    гистологическими, серологическими) признаками позволяет поставить диагноз болезни
                                    Крона.
                                    Отсутствие антител к GP2 антигену центроацинарных клеток поджелудочной железы не
                                    исключает диагноз болезнь Крона.При проведении дифференциальной диагностики болезни
                                    Крона и язвенного колита результаты исследования необходимо интерпретировать в
                                    сочетании
                                    с результатами инструментальных и других серологических методов диагностики, включая
                                    сывороточные и фекальные биомаркеры.
                                </p>
                            </div>
                            <div class="annotation annotation--picture annotation--red mb-40">
                                <p class="text text--medium">
                                    Этот анализ принимается по сокращённому графику. Это связано с тем, что биоматериал
                                    должен попасть в лабораторию в очень короткий срок. Проверьте расписание
                                    сокращённого графика приёма на странице вашего отделения.
                                </p>
                                <picture class="annotation__picture">
                                    <img src="./assets/images/icon-no-photo.svg" alt="">
                                </picture>
                            </div>
                            <div class="editor mb-70">
                                <h4>
                                    Синонимы и связанные понятия
                                </h4>
                                <br>
                                <p>
                                    Serum zinc, Serum zinc test, Vitamin D, Vitamin D3 metabolite, Zinc blood testing,
                                    анализ крови на витамин D, анализ крови на цинк, витамин D, цинк в сыворотке крови
                                </p>
                            </div>
                            <h2 class="title title--small mb-40">Состав комплекса</h2>
                            <div class="dropdown-list mb-60">
                                <div class="dropdown-block" data-accordion>
                                    <div class="dropdown-block__head">
                                        <div class="dropdown-block__icon"></div>
                                        <h3 class="dropdown-block__title">Витамин D суммарный (25-OH D2 и D3, общий
                                            результат)</h3>
                                    </div>
                                    <div class="dropdown-block__body">
                                        <div class="annotation annotation--green">
                                            <p class="text text--medium">
                                                Исследование показывает общий уровень витамина D и позволяет выявить его
                                                дефицит или переизбыток, нарушения кальциевого обмена.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-block" data-accordion>
                                    <div class="dropdown-block__head">
                                        <div class="dropdown-block__icon"></div>
                                        <h3 class="dropdown-block__title">Цинк</h3>
                                    </div>
                                    <div class="dropdown-block__body">
                                        <div class="annotation annotation--green">
                                            <p class="text text--medium">
                                                Исследование показывает общий уровень витамина D и позволяет выявить его
                                                дефицит или переизбыток, нарушения кальциевого обмена.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="editor">
                                <h3>
                                    Приём и метод исследования биоматериала
                                </h3>
                                <br>
                                <h4>
                                    Биоматериал
                                </h4>
                                <br>
                                <p>
                                    Вен. кровь
                                </p>
                                <br>
                                <br>
                                <h3>Когда назначают этот анализ?</h3>
                                <br>
                                <ul>
                                    <li>оценка баланса и метаболизма витамина D и цинка;</li>
                                    <li>подозрение на дефицит/недостаточность витамина D и недостаточность цинка;</li>
                                    <li>контроль лечения препаратами витамина D и цинка;</li>
                                    <li>диагностика интоксикации витамином D и цинком.</li>
                                </ul>
                                <br>
                                <br>
                                <h3>Срок исполнения</h3>
                                <br>
                                <p>1 день</p>
                            </div>
                        </div>
                        <div class="tabs__content" data-tabs-content="2">
                            <div class="editor mb-30">
                                <p>
                                    Специальной подготовки к исследованию не требуется. Взятие крови проводится натощак
                                    или
                                    не ранее, чем через 4 часа после необильного приема пищи. Допустимо пить чистую не
                                    минеральную и не газированную воду. Чай, кофе, сок запрещаются.
                                </p>
                                <br>
                                <h3>
                                    Описание анализа
                                </h3>
                                <br>
                                <p>
                                    Гликопротеин 2-го типа (GP2) ‒ белок мембраны гранул, которые выделяются ацинарными
                                    клетками поджелудочной железы вместе с пищеварительными ферментами в просвет
                                    кишечника.
                                    GP2 является нормальным компонентом панкреатического (поджелудочного) сока.Антитела
                                    к
                                    GP2 антигену классов IgG и IgA обнаруживаются у 30-40% пациентов с болезнью Крона
                                    (БК),
                                    чаще у более молодых больных. При неспецифическом язвенном колите такие антитела
                                    такие
                                    антитела обнаруживаются редко (менее 8% случаев), что позволяет использовать данное
                                    исследование в рамках дифференциальной диагностики воспалительных заболеваний
                                    кишечника.Обнаружение антител к GP2 указывает на высокую вероятность воспалительного
                                    заболевания кишечника и требует углубленного клинического и инструментального
                                    обследования. Выявление анти-GP2 в сочетании с другими (клиническими,
                                    эндоскопическими,
                                    гистологическими, серологическими) признаками позволяет поставить диагноз болезни
                                    Крона.
                                    Отсутствие антител к GP2 антигену центроацинарных клеток поджелудочной железы не
                                    исключает диагноз болезнь Крона.При проведении дифференциальной диагностики болезни
                                    Крона и язвенного колита результаты исследования необходимо интерпретировать в
                                    сочетании
                                    с результатами инструментальных и других серологических методов диагностики, включая
                                    сывороточные и фекальные биомаркеры.
                                </p>
                            </div>
                            <div class="annotation annotation--picture annotation--red mb-40">
                                <p class="text text--medium">
                                    Этот анализ принимается по сокращённому графику. Это связано с тем, что биоматериал
                                    должен попасть в лабораторию в очень короткий срок. Проверьте расписание
                                    сокращённого графика приёма на странице вашего отделения.
                                </p>
                                <picture class="annotation__picture">
                                    <img src="./assets/images/icon-no-photo.svg" alt="">
                                </picture>
                            </div>
                            <div class="editor mb-70">
                                <h4>
                                    Синонимы и связанные понятия
                                </h4>
                                <br>
                                <p>
                                    Serum zinc, Serum zinc test, Vitamin D, Vitamin D3 metabolite, Zinc blood testing,
                                    анализ крови на витамин D, анализ крови на цинк, витамин D, цинк в сыворотке крови
                                </p>
                            </div>
                            <h2 class="title title--small mb-40">Состав комплекса</h2>
                            <div class="dropdown-list mb-60">
                                <div class="dropdown-block" data-accordion>
                                    <div class="dropdown-block__head">
                                        <div class="dropdown-block__icon"></div>
                                        <h3 class="dropdown-block__title">Витамин D суммарный (25-OH D2 и D3, общий
                                            результат)</h3>
                                    </div>
                                    <div class="dropdown-block__body">
                                        <div class="annotation annotation--green">
                                            <p class="text text--medium">
                                                Исследование показывает общий уровень витамина D и позволяет выявить его
                                                дефицит или переизбыток, нарушения кальциевого обмена.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-block" data-accordion>
                                    <div class="dropdown-block__head">
                                        <div class="dropdown-block__icon"></div>
                                        <h3 class="dropdown-block__title">Цинк</h3>
                                    </div>
                                    <div class="dropdown-block__body">
                                        <div class="annotation annotation--green">
                                            <p class="text text--medium">
                                                Исследование показывает общий уровень витамина D и позволяет выявить его
                                                дефицит или переизбыток, нарушения кальциевого обмена.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="editor">
                                <h3>
                                    Приём и метод исследования биоматериала
                                </h3>
                                <br>
                                <h4>
                                    Биоматериал
                                </h4>
                                <br>
                                <p>
                                    Вен. кровь
                                </p>
                                <br>
                                <br>
                                <h3>Когда назначают этот анализ?</h3>
                                <br>
                                <ul>
                                    <li>оценка баланса и метаболизма витамина D и цинка;</li>
                                    <li>подозрение на дефицит/недостаточность витамина D и недостаточность цинка;</li>
                                    <li>контроль лечения препаратами витамина D и цинка;</li>
                                    <li>диагностика интоксикации витамином D и цинком.</li>
                                </ul>
                                <br>
                                <br>
                                <h3>Срок исполнения</h3>
                                <br>
                                <p>1 день</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total__wrapper">
                        <div class="total__head">
                            <h3 class="total__price">2 200 ₽</h3>
                            <div class="total__term">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-clock"></use>
                                </svg>
                                <span>1 день</span>
                            </div>
                        </div>
                        <div class="total__body">
                            <ul class="total__list">
                                <li class="total__item">
                                    <span>Вен. кровь</span>
                                    <span>+150 ₽</span>
                                </li>
                            </ul>
                            <button class="button button--auto button--transparent button--bold" data-buy>В корзину</button>
                        </div>
                    </div>
                    <div class="alert" data-alert>
                        <svg class="alert__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-accept"></use>
                        </svg>
                        <span>Успешно добавлено</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <div class="feedback">
                <div class="feedback__header">
                    <h3 class="feedback__title">Запишитесь на консультацию</h3>
                    <p class="feedback__text">
                        Укажите свой номер телефона. Мы свяжемся с вами в ближайшее время.
                    </p>
                </div>
                <form action="#" class="form">
                    <label class="form__item">
                        <span class="form__input">
                            <svg class="form__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-phone"></use>
                            </svg>
                            <input type="text" class="input" placeholder="+7 ( ___ ) ___-__-__">
                        </span>
                        <button class="form__button button">Отправить</button>
                    </label>
                    <label class="form__item form__item--accept">
                        <input type="checkbox" class="check">
                        <span>Нажимая кнопку отправить вы соглашаетесь с Политикой обработки персональных данных</span>
                    </label>
                </form>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
