<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--top">
        <div class="container">
            <div class="main-search">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--gray">
        <div class="container">
            <div class="intro">
                <div class="intro__info">
                    <h1 class="main-title">Оборудование</h1>
                    <p class="intro__text">
                        Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                        обеспечение нашей деятельности позволяет выполнять важные задания по разработке дальнейших
                        направлений развития. Идейные соображения высшего порядка,
                    </p>
                </div>
                <picture class="intro__picture">
                    <img src="./assets/images/intro-heart.png" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section pt-60 pb-100">
        <div class="container">
            <div class="editor mb-60">
                <h3>Качество исследований</h3>
                <br>
                <p>
                    Качество лабораторных исследований — основа бизнеса и конкурентоспособности СИТИЛАБ.
                    Лабораторные исследования присутствуют на всех стадиях лечебного процесса и вносят важный
                    диагностический вклад, как на первоначальном этапе лечения, так и на последующих этапах; позволяют
                    оценивать динамику и эффективность проводимой терапии. Более 70% всех диагнозов ставятся с учетом
                    данных лабораторных исследований.
                    Именно поэтому качественное выполнение лабораторных исследований, соблюдение технологических
                    принципов, использование современных методов определения и современного лабораторного оборудования в
                    сочетании с профессионализмом сотрудников позволяют нам выполнять лабораторные исследования на
                    уровне международных требований, предъявляемых к лабораторной диагностике.
                    Лаборатории СИТИЛАБ оснащены самым современным аналитическим оборудованием производства мировых
                    лидеров в области лабораторной техники и аналитических технологий.
                    Мы предлагаем самый широкий спектр высокоточных лабораторных исследований, включающий более 1000
                    наименований.
                </p>
                <br>
                <h3>Наши преимущества:</h3>
                <br>
                <ul>
                    <li>Централизованное развитие</li>
                    <li>Внедрение новейших технологий в лабораторную диагностику во всех региональных подразделениях
                    </li>
                    <li>Единая система контроля качества и стандартов</li>
                </ul>
                <br>
                <p>
                    Высокое качество наших услуг достигается за счет полной автоматизации лабораторных процессов, что
                    минимизирует «человеческий фактор». Каждой пробирке присваивается индивидуальный штрих-код, который
                    исключает возможность подмены пробирок. Технология и результаты проводимых исследований постоянно
                    контролируются с помощью российских и международных систем оценки качества (RIQAS, EQAS, ФСВОК).
                </p>
            </div>
            <div class="editor editor--default">
                <h4>Более подробную информацию вы можете посмотреть<br>в соответствующем разделе:</h4>
                <br>
                <ul>
                    <li>
                        <a href="#">Серология, аллергология</a>
                    </li>
                    <li>
                        <a href="#">ПЦР - диагностика</a>
                    </li>
                    <li>
                        <a href="#">Биохимия и иммунология</a>
                    </li>
                    <li>
                        <a href="#">Гематологии и коагулология</a>
                    </li>
                    <li>
                        <a href="#">Анализ мочи</a>
                    </li>
                    <li>
                        <a href="#">Микробиология</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
