<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mb-40">
        <div class="container">
            <div class="main-search main-search--dark">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <div class="news-detail">
                <div class="news-detail__top">
                    <div class="news-detail__info">
                        <h1 class="main-title">Название новости</h1>
                        <p class="news-detail__date">03.03.2023</p>
                        <div class="news-detail__stats">
                            <p class="news-detail__article">Ведомственные новости</p>
                            <p class="news-detail__article">Время чтения: 3 мин</p>
                        </div>
                    </div>
                </div>
                <div class="editor editor--full">
                    <p>
                        Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой
                        процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая
                        модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в
                        формировании модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм
                        деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны
                        укрепление и развитие структуры требуют определения и уточнения систем массового участия
                    </p>
                    <br>
                    <p>
                        Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой
                        процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая
                        модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в
                        формировании модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм
                        деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны
                        укрепление и развитие структуры требуют определения и уточнения систем массового участия
                    </p>
                    <br>
                    <p>
                        Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой
                        процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая
                        модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в
                        формировании модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм
                        деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны
                        укрепление и развитие структуры требуют определения и уточнения систем массового участия
                    </p>
                    <br>
                    <img src="https://w.forfun.com/fetch/56/5656d35727009cabea6ce79973a9702c.jpeg" alt="">
                    <br>
                    <h5>Заголовок</h5>
                    <br>
                    <p>
                        Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой
                        процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая
                        модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в
                        формировании модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм
                        деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны
                        укрепление и развитие структуры требуют определения и уточнения систем массового участия
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <h3 class="title mb-30">Другие новости</h3>
            <div class="slider mb-40">
                <div class="slider__wrapper" data-slider="default">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Экономим по выходным!</h3>
                                    <p class="article-stock__text">Комплексные лабораторные<br>исследования</p>
                                    <p class="article-stock__text">со скидкой до 50%</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Выгодная и удобная<br> диагностика за 1 день!</h3>
                                    <p class="article-stock__text">диагностические пакеты</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Выгодная и удобная<br> диагностика за 1 день!</h3>
                                    <p class="article-stock__text">диагностические пакеты</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Выгодная и удобная<br> диагностика за 1 день!</h3>
                                    <p class="article-stock__text">диагностические пакеты</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__button slider__button--prev">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-pointer"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--next">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-pointer"></use>
                        </svg>
                    </div>
                    <div class="slider__pagination"></div>
                </div>
            </div>
            <button class="button centered button--auto">
                <svg class="button__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-book-stars"></use>
                </svg>
                Все акции
            </button>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
