<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--top">
        <div class="container">
            <div class="main-search">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--gray">
        <div class="container">
            <div class="intro">
                <div class="intro__info">
                    <h1 class="main-title">Новости</h1>
                    <p class="intro__text">Подпишитесь на рассылку и узнавайте о<br> новостях и акциях медцентра первыми
                    </p>
                    <button class="button w-200">
                        <svg class="button__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                        </svg>
                        <span>Подписаться</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-80 pb-100">
        <div class="container">
            <div class="grid-cards grid-cards--equalize mb-30">
                <article class="article-promotion">
                    <div class="article-promotion__info">
                        <h2 class="article-promotion__title">Актуальные акции</h2>
                        <p class="article-promotion__text">
                            Идейные соображения высшего порядка, а также постоянное информационно.
                        </p>
                    </div>
                    <picture class="article-promotion__picture">
                        <img src="./assets/images/heart.png" alt="">
                    </picture>
                    <button class="button">Подробнее</button>
                </article>
                <a href="#" class="article-news" style="background-image: url('./assets/images/icon-no-photo.svg')">
                    <h2 class="article-news__title">Какие анализы сдать, если вы чувствуете себя как выжатый лимон</h2>
                    <time class="article-news__time">03.03.2023</time>
                    <p class="article-news__text">Одно дело, если у человека нет сил после того, как он ударно
                        потрудился...</p>
                </a>
                <a href="#" class="article-news" style="background-image: url('./assets/images/icon-no-photo.svg')">
                    <h2 class="article-news__title">Какие анализы сдать, если вы чувствуете себя как выжатый лимон</h2>
                    <time class="article-news__time">03.03.2023</time>
                    <p class="article-news__text">Одно дело, если у человека нет сил после того, как он ударно
                        потрудился...</p>
                </a>
                <a href="#" class="article-news" style="background-image: url('./assets/images/icon-no-photo.svg')">
                    <h2 class="article-news__title">Какие анализы сдать, если вы чувствуете себя как выжатый лимон</h2>
                    <time class="article-news__time">03.03.2023</time>
                    <p class="article-news__text">Одно дело, если у человека нет сил после того, как он ударно
                        потрудился...</p>
                </a>
                <a href="#" class="article-news" style="background-image: url('./assets/images/icon-no-photo.svg')">
                    <h2 class="article-news__title">Какие анализы сдать, если вы чувствуете себя как выжатый лимон</h2>
                    <time class="article-news__time">03.03.2023</time>
                    <p class="article-news__text">Одно дело, если у человека нет сил после того, как он ударно
                        потрудился...</p>
                </a>
                <a href="#" class="article-news" style="background-image: url('./assets/images/icon-no-photo.svg')">
                    <h2 class="article-news__title">Какие анализы сдать, если вы чувствуете себя как выжатый лимон</h2>
                    <time class="article-news__time">03.03.2023</time>
                    <p class="article-news__text">Одно дело, если у человека нет сил после того, как он ударно
                        потрудился...</p>
                </a>
                <a href="#" class="article-news" style="background-image: url('./assets/images/icon-no-photo.svg')">
                    <h2 class="article-news__title">Какие анализы сдать, если вы чувствуете себя как выжатый лимон</h2>
                    <time class="article-news__time">03.03.2023</time>
                    <p class="article-news__text">Одно дело, если у человека нет сил после того, как он ударно
                        потрудился...</p>
                </a>
            </div>
            <button class="button centered w-240">Показать ещё</button>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
