<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mb-40">
        <div class="container">
            <div class="main-search main-search--dark">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <h1 class="main-title mb-40">СМИ о нас</h1>
            <p class="text mb-30">
                Политика обработки персональных данных в ООО "Научно-методический центр клинической лабораторной
                диагностики Медэксперт" разработана в соответствии с действующим законодательством Российской Федерации
                о персональных данных и распространяется на все процессы Оператора, связанные с обработкой персональных
                данных.
            </p>
            <button class="button button--more button--justify button--left mb-60">
                <svg class="button__icon button__icon--big">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-spreadsheets"></use>
                </svg>
                <span>Политика обработки персональных данных</span>
                <span class="button-arrow">
                        <svg class="button-arrow__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                        </svg>
                    </span>
            </button>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
