<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mb-40">
        <div class="container">
            <div class="main-search main-search--dark">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <div class="head mb-60">
                <h1 class="main-title">Контроль качества</h1>
                <p class="text w-770">
                    В лабораториях Медэксперт особое внимание уделяется качеству результатов лабораторных исследований. Все
                    наши лаборатории лицензированы в соответствии с требованиями Российского законодательства. В наших
                    лабораториях осуществляется многоуровневый контроль качества, включающий внешнюю и внутреннюю систему
                    контроля качества.
                </p>
            </div>
            <div class="editor editor--default mb-100">
                <h3>Внешняя система контроля качества:</h3>
                <br>
                <p>
                    Для осуществления внешнего контроля качества мы участвуем в международных программах внешнего
                    контроля и оценки качества EQAS (США), RIQAS (Великобритания) и ФСВОК (Россия).
                    Принимая участие в международных программах, мы регулярно получаем от крупнейших западных компаний
                    контрольные материалы (пробы и образцы), которые исследуем наряду с обычными пробами наших
                    пациентов. Затем результаты исследования контрольных материалов мы направляем обратно в организацию,
                    занимающуюся контролем, и получаем ответ, верны ли наши результаты тестов. Если результаты верны,
                    контролирующая компания выдает нам специальный сертификат соответствия. Таким образом, мы в
                    очередной раз подтверждаем, что результаты исследований, проводимых в нашей лаборатории, достоверны
                    и точны.
                    Международная система контроля качества EQAS разработана в США и поддерживается компанией Bio-Rad.
                    Она позволяет проводить регулярный межлабораторный контроль качества по каждому аналиту (компоненту
                    или характеристике, подлежащей измерению) на разных уровнях концентрации, оперативно выявлять и
                    устранять возникшие ошибки, быть уверенным в правильности измерений по всему спектру исследований.
                    Подробнее о программе EQAS смотрите на <a href="#">сайте</a>.
                </p>
                <br>
                <ul>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                    <li>
                        <a href="#">EQAS HIV/Hepatitis 03.2021-03.2022</a>
                    </li>
                </ul>
            </div>
            <div class="editor">
                <h3>Внутренняя система контроля:</h3>
                <br>
                <ul>
                    <li>
                        Внутрилабораторная деятельность осуществляется в соответствии с требованиями «Clinical Laboratories Improvement Act of 1992».
                    </li>
                    <li>
                        Внутрилабораторный и межлабораторный контроль.
                    </li>
                    <li>
                        Полная автоматизация и компьютеризация наших лабораторий является важной составляющей системы внутреннего контроля качества.
                    </li>
                    <li>
                        Высокий профессионализм наших специалистов, новейший парк оборудования и использование высококачественных реагентов гарантируют высочайшие стандарты качества.
                    </li>
                </ul>
                <br>
                <p>
                    При взятии биологического материала для исследования, выполнении исследования и выдачи результатов мы руководствуемся принципами ICH GCP, для соблюдения прав пациентов и конфиденциальности исследований.
                </p>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
