<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mb-40">
        <div class="container">
            <div class="main-search main-search--dark">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
                <article class="article-info mb-50">
                    <div class="article-info__detail">
                        <h1 class="main-title">
                            Бесплатная консультация ортодонта для взрослых и детей
                        </h1>
                        <p class="text">
                            В консультативно-диагностическом медицинском центре предусмотрено все необходимое для
                            проведения
                            современных высокоточных медицинских диагностических исследований.
                        </p>
                        <div class="article-info__meta">
                            <button class="button">Записаться</button>
                            <div class="timer">
                                <p class="timer__text">До конца акции</p>
                                <p class="timer__title">88 дней</p>
                            </div>
                        </div>
                    </div>
                    <picture class="article-info__picture">
                        <img src="./assets/images/info.png" alt="">
                    </picture>
                </article>
                <div class="editor">
                    <h3>Условия акции</h3>
                    <br>
                    <p>Скидка 25% предоставляется в отведенное время:</p>
                    <ul>
                        <li>В будние дни – с 13 до 15 часов</li>
                        <li>В выходные дни – с 19 до 21 часов</li>
                    </ul>
                    <br>
                    <p>Воспользуйтесь нашим специальным предложением уже сегодня!</p>
                    <br>
                    <p>
                        Акция распространяется на амбулаторные услуги для пациентов старше 18 лет (кроме лабораторных
                        услуг, комплексных услуг, услуг отделения вспомогательных репродуктивных технологий и услуг
                        стоматологии, ксенонотерапии, МРТ, сомнологии, эпилептологии, косметологии, услуг отделений
                        Premium, услуг центра офтальмологии).
                    </p>
                    <br>
                    <p>
                        <b>
                            Внимание!
                        </b>
                    </p>
                    <p>Скидки и специальные условия не суммируются с другими скидками и специальными предложениями.</p>
                    <br>
                    <p>
                        <b>
                            Подробную информацию об условиях проведения акции, о специалистах и услугах, участвующих в
                            акций, уточняйте по телефону <a href="tel:+74012519000">+7 (4012) 519-000</a>.
                        </b>
                    </p>
                    <br>
                    <br>
                    <h3>Мы успешно устраняем проблемы, связанные с:</h3>
                    <br>
                    <ol>
                        <li>Нарушением формы зубов</li>
                        <li>Неправильным положением зубов в зубном ряду</li>
                        <li>Неправильным соотношением челюстей</li>
                    </ol>
                    <br>
                    <h3>Заголовок:</h3>
                    <br>
                    <ol>
                        <li>Нарушением формы зубов</li>
                        <li>Неправильным соотношением челюстей</li>
                    </ol>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <h3 class="title mb-30">Другие акции</h3>
            <div class="slider mb-40">
                <div class="slider__wrapper" data-slider="default">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Экономим по выходным!</h3>
                                    <p class="article-stock__text">Комплексные лабораторные<br>исследования</p>
                                    <p class="article-stock__text">со скидкой до 50%</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Выгодная и удобная<br> диагностика за 1 день!</h3>
                                    <p class="article-stock__text">диагностические пакеты</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Выгодная и удобная<br> диагностика за 1 день!</h3>
                                    <p class="article-stock__text">диагностические пакеты</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-stock" style="background-image: url('./assets/images/article-photo.png')">
                                <div class="article-stock__info">
                                    <h3 class="article-stock__title">Выгодная и удобная<br> диагностика за 1 день!</h3>
                                    <p class="article-stock__text">диагностические пакеты</p>
                                    <a href="#" class="article-stock__show-more show-more">
                                        <span>Читать</span>
                                        <button class="button-arrow">
                                            <svg class="button-arrow__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__button slider__button--prev">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-pointer"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--next">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-pointer"></use>
                        </svg>
                    </div>
                    <div class="slider__pagination"></div>
                </div>
            </div>
            <button class="button centered button--auto">
                <svg class="button__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-book-stars"></use>
                </svg>
                Все акции
            </button>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
