<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--top">
        <div class="container">
            <div class="main-search">
                <form action="#" class="main-search__form">
                    <svg class="main-search__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input type="text" class="input" placeholder="Поиск по сайту">
                    <button class="main-search__button button button--search">Найти</button>
                </form>
            </div>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Акции</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--gray">
        <div class="container">
            <div class="intro">
                <div class="intro__info">
                    <h1 class="main-title">Технологии</h1>
                    <p class="intro__text">
                        Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                        обеспечение нашей деятельности позволяет выполнять важные задания по разработке дальнейших
                        направлений развития. Идейные соображения высшего порядка,
                    </p>
                </div>
                <picture class="intro__picture">
                    <img src="./assets/images/intro-heart.png" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section pt-60 pb-100">
        <div class="container">
            <div class="head w-770 mb-60">
                <h2 class="title">Лабораторная диагностика</h2>
                <p class="text">
                    Как известно, лабораторная диагностика - одна из основ современной медицины. Наша сеть независимых
                    клинико-диагностических лабораторий СИТИЛАБ обладает высоким технологическим и научным потенциалом.
                    Данное преимущество позволяет нам с легкостью внедрять передовые медицинские технологии в
                    повседневную практику.
                    О некоторых технологиях, используемых в нашей Лаборатории, вы сможете узнать, прочитав статьи нашей
                    новой рубрики:
                </p>
            </div>
            <div class="technology">
                <div class="technology__block">
                    <div class="technology__preview">
                        <div class="technology__item">
                            <div class="technology__info">
                                <h3 class="technology__title">Вакуумная система<br>BD Vacutainer</h3>
                                <p class="technology__text">
                                    Неудобная процедура взятия крови с помощью обычного шприца и иголки осталась в
                                    прошлом.
                                    На смену
                                    им пришла современная вакуумная система. История вакуумных систем взятия венозной
                                    крови
                                    насчитывает не один десяток лет. Первые разработки относятся к концу сороковых годов
                                    ХХ
                                    века.
                                    Промышленное производство систем началось в начале 60-х, и теперь они пользуются
                                    большой
                                    популярностью во всем мире. В нашей стране вакуумные системы впервые появились около
                                    20
                                    лет
                                    назад.
                                </p>
                                <button class="button" data-show-open="0">Читать</button>
                            </div>
                            <picture class="technology__picture" style="top: -40px; right: 0;">
                                <img src="./assets/images/pic-1.png" alt="">
                            </picture>
                        </div>
                        <div class="technology__body" data-show-block="0">
                            <p class="technology__text">
                                Каждому известно, что для своевременной и высококвалифицированной медицинской помощи,
                                необходимо использовать качественное медицинское оборудование. Это утверждение применимо и к
                                процедурам, необходимым для процесса точной клинической диагностики. Одной из главных таких
                                процедур является сдача крови для анализа. Любое используемое устройство для взятия крови,
                                будь то пробирка или игла, должно отвечать установленным современным стандартам.
                                Наши Лаборатории оснащены стандартизированным парком анализаторов последнего поколения,
                                выпущенных мировыми лидерами в лабораторном приборостроении. В Центрах обследования
                                пациентов наши специалисты применяют исключительно одноразовые вакуумные системы BD
                                Vacutainer® (производства США).
                                Неудобная процедура взятия крови с помощью обычного шприца и иголки осталась в прошлом. На
                                смену им пришла современная вакуумная система. История вакуумных систем взятия венозной
                                крови насчитывает не один десяток лет. Первые разработки относятся к концу сороковых годов
                                ХХ века. Промышленное производство систем началось в начале 60-х, и теперь они пользуются
                                большой популярностью во всем мире. В нашей стране вакуумные системы впервые появились около
                                20 лет назад.
                                Каким образом работает данная вакуумная система и каковы ее преимущества? Использование
                                современных одноразовых пластиковых вакуумных систем для взятия венозной крови гарантирует
                                комфорт и безопасность как персонала, так и пациента.
                                Давайте разберемся на практике, каким же образом это работает?
                                Попадая в процедурный кабинет нашего Центра обследования, Вы отдаете себя в руки наших
                                профессиональных специалистов, которые легко и безболезненно проведут все необходимые
                                процедуры.
                                Очутившись в удобном кресле, Вы сможете наблюдать быструю и безболезненную процедуру взятия
                                крови. Для начала наш специалист подготовит нужные пробирки и проведет все необходимые
                                манипуляции перед непосредственной пункцией вены (продезинфицирует кожу, затянет жгут).
                                Затем - возьмет одноразовую иглу с защитным колпачком, разорвёт защитную ленту и удалит
                                колпачок, вставит иглу в держатель обрезиненным концом и завинтит ее.

                                Система взятия крови BD Vacutainer® - это закрытая вакуумная система, состоящая из
                                одноразовой иглы, один конец которой закрыт безопасным клапаном, держателя и стерильных
                                пробирок с определенным объемом вакуума. Пробирки произведены из пластика, они не бьются,
                                что обеспечивает удобную транспортировку образцов. Специальная крышка пробирок содержит
                                эластичную мембрану, которая легко прокалывается иглой внутри держателя. Игла закрыта
                                специальным резиновым колпачком, который перекрывает ток крови во время смены пробирок. Цвет
                                крышек на пробирках различен; оттенок зависит от вида исследования и состава реагентов в
                                пробирке.
                                После чего медсестра снимет цветной защитный колпачок с иглы и введёт иглу в вену, как это
                                делается при обычной процедуре взятия крови.
                                Как только игла окажется в вене, сестра вставит выбранную пробирку крышкой в держатель до
                                упора. При этом игла проколет резиновую мембрану и резиновую пробку в крышке пробирки,
                                образуя канал между пробиркой с вакуумом и полостью вены. Как только кровь начнет поступать
                                в пробирку, Вашу руку освободят от жгута. Кровь будет наполняться в пробирку до тех пор,
                                пока не компенсируется созданный в пробирке вакуум.
                            </p>
                            <button class="button" data-show-close="0">Закрыть</button>
                        </div>
                        <div class="technology__item">
                            <div class="technology__info">
                                <h3 class="technology__title">Система штрих-<br>кодирования</h3>
                                <p class="technology__text">
                                    Буквально на первых этапах лабораторной диагностики — взятии крови — специалисты
                                    нашей
                                    Лаборатории используют в своей работе современные информационные технологии.
                                    Одна из них
                                    — штрих-кодирование. Такое штрих-кодирование пробирок обеспечивает уникальную
                                    идентификацию биоматериала и совершенно исключает вероятность случайной подмены
                                    пробирок. Человеческий фактор при выполнении анализа в данном случае полностью
                                    исключается.
                                </p>
                                <button class="button" data-show-open="1">Читать</button>
                            </div>
                            <picture class="technology__picture" style="top: 60px; right: -40px;">
                                <img src="./assets/images/pic-2.png" alt="">
                            </picture>
                        </div>
                        <div class="technology__body" data-show-block="1">
                            <p class="technology__text">
                                Каждому известно, что для своевременной и высококвалифицированной медицинской помощи,
                                необходимо использовать качественное медицинское оборудование. Это утверждение применимо и к
                                процедурам, необходимым для процесса точной клинической диагностики. Одной из главных таких
                                процедур является сдача крови для анализа. Любое используемое устройство для взятия крови,
                                будь то пробирка или игла, должно отвечать установленным современным стандартам.
                                Наши Лаборатории оснащены стандартизированным парком анализаторов последнего поколения,
                                выпущенных мировыми лидерами в лабораторном приборостроении. В Центрах обследования
                                пациентов наши специалисты применяют исключительно одноразовые вакуумные системы BD
                                Vacutainer® (производства США).
                                Неудобная процедура взятия крови с помощью обычного шприца и иголки осталась в прошлом. На
                                смену им пришла современная вакуумная система. История вакуумных систем взятия венозной
                                крови насчитывает не один десяток лет. Первые разработки относятся к концу сороковых годов
                                ХХ века. Промышленное производство систем началось в начале 60-х, и теперь они пользуются
                                большой популярностью во всем мире. В нашей стране вакуумные системы впервые появились около
                                20 лет назад.
                                Каким образом работает данная вакуумная система и каковы ее преимущества? Использование
                                современных одноразовых пластиковых вакуумных систем для взятия венозной крови гарантирует
                                комфорт и безопасность как персонала, так и пациента.
                                Давайте разберемся на практике, каким же образом это работает?
                                Попадая в процедурный кабинет нашего Центра обследования, Вы отдаете себя в руки наших
                                профессиональных специалистов, которые легко и безболезненно проведут все необходимые
                                процедуры.
                                Очутившись в удобном кресле, Вы сможете наблюдать быструю и безболезненную процедуру взятия
                                крови. Для начала наш специалист подготовит нужные пробирки и проведет все необходимые
                                манипуляции перед непосредственной пункцией вены (продезинфицирует кожу, затянет жгут).
                                Затем - возьмет одноразовую иглу с защитным колпачком, разорвёт защитную ленту и удалит
                                колпачок, вставит иглу в держатель обрезиненным концом и завинтит ее.

                                Система взятия крови BD Vacutainer® - это закрытая вакуумная система, состоящая из
                                одноразовой иглы, один конец которой закрыт безопасным клапаном, держателя и стерильных
                                пробирок с определенным объемом вакуума. Пробирки произведены из пластика, они не бьются,
                                что обеспечивает удобную транспортировку образцов. Специальная крышка пробирок содержит
                                эластичную мембрану, которая легко прокалывается иглой внутри держателя. Игла закрыта
                                специальным резиновым колпачком, который перекрывает ток крови во время смены пробирок. Цвет
                                крышек на пробирках различен; оттенок зависит от вида исследования и состава реагентов в
                                пробирке.
                                После чего медсестра снимет цветной защитный колпачок с иглы и введёт иглу в вену, как это
                                делается при обычной процедуре взятия крови.
                                Как только игла окажется в вене, сестра вставит выбранную пробирку крышкой в держатель до
                                упора. При этом игла проколет резиновую мембрану и резиновую пробку в крышке пробирки,
                                образуя канал между пробиркой с вакуумом и полостью вены. Как только кровь начнет поступать
                                в пробирку, Вашу руку освободят от жгута. Кровь будет наполняться в пробирку до тех пор,
                                пока не компенсируется созданный в пробирке вакуум.
                            </p>
                            <button class="button" data-show-close="1">Закрыть</button>
                        </div>
                    </div>
                </div>
                <div class="technology__block">
                    <div class="technology__preview">
                        <div class="technology__item" data-accordion>
                            <div class="technology__info">
                                <h3 class="technology__title">Референсные<br>значения</h3>
                                <p class="technology__text">
                                    Референсные значения — это медицинский термин, употребляемый при проведении и оценке
                                    лабораторных исследований; определяется как среднее значение определенного
                                    лабораторного
                                    показателя, которое было получено в результате массовых обследований здорового
                                    населения. В качестве синонима используют также термин референтные значения.
                                </p>
                                <button class="button">Читать</button>
                            </div>
                        </div>
                        <div class="technology__item" data-accordion>
                            <div class="technology__info">
                                <h3 class="technology__title">Особенности<br>процедуры взятия крови</h3>
                                <p class="technology__text">
                                    Обычно при проведении большинства исследований в качестве биоматериала используют
                                    венозную и реже капиллярную кровь. Брать кровь из пальца, конечно, не так страшно и
                                    не
                                    столь болезненно. Но чаще всего для лабораторного исследования требуется именно
                                    венозная
                                    кровь. Но эта вполне несложная процедура по взятию крови вызывает порой не мало
                                    опасений
                                    среди пациентов.
                                </p>
                                <button class="button">Читать</button>
                            </div>
                            <picture class="technology__picture" style="top: -26px; right: 0;">
                                <img src="./assets/images/pic-3.png" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="technology__block">
                    <div class="technology__preview">
                        <div class="technology__item" data-accordion>
                            <div class="technology__info">
                                <h3 class="technology__title">Референсные<br>значения</h3>
                                <p class="technology__text">
                                    Референсные значения — это медицинский термин, употребляемый при проведении и оценке
                                    лабораторных исследований; определяется как среднее значение определенного
                                    лабораторного
                                    показателя, которое было получено в результате массовых обследований здорового
                                    населения. В качестве синонима используют также термин референтные значения.
                                </p>
                                <button class="button">Читать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
