.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    &::before {
      content: '';
      display: flex;
      width: 9.5px;
      height: 1px;
      background-color: $gray-dark;
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
    &:not(:last-of-type) {
      .breadcrumbs__link {
        color: $primary-light;
        text-decoration-line: underline;
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 300;
    color: $gray-black;
  }
}
