.news {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 40px 100px;
  background-color: $gray;
  border-radius: 10px;

  @include r(1200) {
    padding: 40px 20px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
