.main-search {
  display: flex;
  margin: 10px 0;
  border-radius: 40px;
  border: 1px solid $light;
  background: rgba($light, 0.9);
  backdrop-filter: blur(2px);

  &--dark {
    background-color: $gray;
  }

  &__form {
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 24px;
    gap: 14px;
    width: 100%;

    @include r(1200) {
      padding: 6px;
    }
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }

  &__button {
    flex-shrink: 0;
  }
}
