.payment {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 770px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: $primary;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    color: $primary;
  }
}
