.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 170px;
  padding: 13.5px 30px;
  border-radius: 30px;
  font-weight: 600;
  background: $primary-light;
  color: $light;
  cursor: pointer;
  transition: .2s linear;

  &[disabled] {
    pointer-events: none;
    opacity: .6;
  }

  &:hover {
    background-color: $primary;
  }

  &--dark {
    background-color: $primary;
  }

  &--search {
    padding: 9px 30px;

    @include r(1200) {
      width: 100px;
    }
  }

  &--inactive {
    border-color: transparent;
    background-color: $gray;
    color: $primary;
    font-weight: 400;

    &:hover {
      color: $light;
    }
  }

  &--auto {
    width: auto;
    max-width: none;
  }

  &--fat {
    padding: 18px 30px;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    width: 23px;
    height: 19px;

    &--big {
      width: 32px;
      height: 32px;
    }
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $primary-light;
    color: $primary-light;
    font-weight: 300;

    &:hover {
      background-color: $primary-light;
      color: $light;
    }
  }

  &--bold {
    font-weight: 600;
  }

  &--more {
    max-width: 370px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    background-color: $gray;
    color: $primary;
    &:hover {
      color: $light;
    }
  }

  &--full {
    width: 100%;
    max-width: none;
  }

  &--justify {
    justify-content: flex-start;
    .button-arrow {
      margin-left: auto;
    }
  }

  &--left {
    text-align: left;
  }
}
