.check {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 5px;
  background: $light;
  appearance: none !important;

  &::before {
    content: '';
    display: flex;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background: $primary-light;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
  }

  &:checked {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}
