.timer {
  display: flex;
  flex-direction: column;

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }
}
